@import "tailwindcss";
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252527;
  --card: #ffffff;
  --card-foreground: #252527;
  --popover: #ffffff;
  --popover-foreground: #252527;
  --primary: #343436;
  --primary-foreground: #fbfbfc;
  --secondary: #f7f7f8;
  --secondary-foreground: #343436;
  --muted: #f7f7f8;
  --muted-foreground: #8e8e93;
  --accent: #f7f7f8;
  --accent-foreground: #343436;
  --destructive: #e11d48;
  --border: #ebecef;
  --input: #ebecef;
  --ring: #b4b4b4;
  --chart-1: #3b82f6;
  --chart-2: #0ea5e9;
  --chart-3: #4f46e5;
  --chart-4: #f59e0b;
  --chart-5: #ef4444;
  --sidebar: #fafafa;
  --sidebar-foreground: #252527;
  --sidebar-primary: #343436;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f7f7f8;
  --sidebar-accent-foreground: #343436;
  --sidebar-border: #ebecef;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #252527;
  --foreground: #fbfbfc;
  --card: #343436;
  --card-foreground: #fbfbfc;
  --popover: #343436;
  --popover-foreground: #fbfbfc;
  --primary: #ebecef;
  --primary-foreground: #343436;
  --secondary: #44444b;
  --secondary-foreground: #fbfbfc;
  --muted: #44444b;
  --muted-foreground: #b4b4b4;
  --accent: #44444b;
  --accent-foreground: #fbfbfc;
  --destructive: #f43f5e;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8e8e93;
  --chart-1: #818cf8;
  --chart-2: #38bdf8;
  --chart-3: #ef4444;
  --chart-4: #c084fc;
  --chart-5: #f97316;
  --sidebar: #343436;
  --sidebar-foreground: #fbfbfc;
  --sidebar-primary: #818cf8;
  --sidebar-primary-foreground: #fbfbfc;
  --sidebar-accent: #44444b;
  --sidebar-accent-foreground: #fbfbfc;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8e8e93;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}